.getlist{
					width:100%;
					.list{
						width:100%;
						li{
							float:left;
							background: #fff;
							width:49%;
							margin-right: 2%;
							margin-bottom: 2%;
							&:nth-child(2n){
								margin-right:0;
							}
							.list_watch_picture{
								display:block;
								width:100%;
								height:4.906667rem;
								img{
									width:100%;
									height:100%
								}
							}
							.list_watch_name{
								display:block;
								margin:.32rem .266667rem;
								.list_watch_name_content{
									white-space:nowrap;
									overflow:hidden;
									text-overflow:ellipsis;
									color:#333;
									font-size:.373333rem;
								}
							}
							.list_watch_price{
								padding:.266667rem;
								padding-top:0;
								font-size:.373333rem;
								color:#d8b86f;
							}
						}

					}
				}