@import '../../static/styles/common.scss';
@import '../../static/styles/iconfont/iconfont.css';

.orderpageHeader{
	position: relative;
	height:1.5625rem;
	overflow:hidden;

	p{
		height:1.5625rem;
		font-size:.5rem;
		overflow: hidden;
		background-color: #D8B770;
		// background-color: $main_color;
		color: #fff;
		border-bottom: 0.03125rem solid #E8E8E8;
		text-align: center;
		line-height: 1.5625rem;
	
		.back{
			// float: left;
			height:1.5625rem;
			width: 1.5625rem;
			position: absolute;
			left: 0;
			text-decoration: none;
			i{
				height: 100%;
				line-height: 1.5625rem;
				font-size: .75rem;
				color: #fff;
			}
		}
		.homepage{
			// float: right;
			height: 1.5625rem;
			width: 1.5625rem;
			position: absolute;
			right: 0;
			text-decoration: none;
			i{
				height: 100%;
				line-height: 1.5625rem;
				font-size: .75rem;
				color: #fff;
			}
		}
	}
}
.mainarea{
	overflow: hidden;
	flex:1;
	overflow-y: auto;
	overflow-x: hidden;

	.address{
		height: 2.5rem;
	    // margin-bottom: 0.125rem;
	    padding: .3125rem;
	    line-height: 1.875rem;
	    text-align: center;
	    font-size: .5625rem;
	    background-color:#f1f1f1;
	    a{
	    	display: block;
	    	width: 100%;
	    	height: 100%;
	   	 	font-family:"幼圆";
			color: #000;
	    }
	}
	.product_ifo{
		background-color:#fff;
		.title_ifo{
		    border-bottom: .03125rem solid #dcdcdc;
		    padding-bottom: .3125rem;
		    padding-left: .3125rem;
		    line-height: .9375rem;
		    font-size: .46875rem;
		    // margin-bottom: .46875rem;
		}
		.prolist{

			li{
				position: relative;
				height: 2.34375rem;
				border-bottom: .03125rem solid #d7d7d7;
			    padding: .3125rem;
	    		overflow: hidden;

	    		.propic{
				    display: block;
				    width: 1.71875rem;
				    height: 1.71875rem;
				    float: left;
	    			img{
	    				width: 1.71875rem;
				   		height: 1.71875rem;
	    			}
	    		}
				.proname{
					width: 5.3125rem;
				    float: left;
				    margin-left: 0.3125rem;
				    h3{
				    	width: 100%;
				    	height: 1.0625rem;
					    font-weight: normal;
					    font-size: .4375rem;
					    a{
					    	display: block;
					    	line-height: .5625rem;
					    	color: #333;
					    }

				    }
				    i{
					    color: #999;
					    font-size: .375rem;
					    line-height: .625rem;
					    text-align: center;
					    float: right
				    }
				}
				.proprice{
					float: right;
					text-align: right;
					position: absolute;
				    right: .3125rem;
				    bottom: .3125rem;
				    .pronum{
					    display: block;
					    overflow: hidden;
					    text-align: right;
					    clear: both;
					    margin-bottom: 0;
					    height: .53125rem;
	   					line-height: .53125rem;
	   					color: #df3033;
				    }
				    .onecount{

	   					.onecount_i{
	   						display: block;
	   						color: #df3033;
						    font-style: normal;
						    height: .625rem;
						    line-height: .625rem;
	   					}
				    }
				}
			}
		}
	}
	.payway{
		height: 1.5625rem;
	    padding: .3125rem .3125rem;
	    line-height: .9375rem;
		border-bottom: .03125rem solid #dcdcdc;
		background-color:#fff;

	    a{
	    	color: #000;
	    	font-size: .46875rem;
	    }
	    i{
	    	float: right;
	    }
	    span{
	    	float: right;
	    	font-size: .46875rem;

	    }
	}
	.buymsg{
		height: 1.5625rem;
		line-height: .9375rem;
	    padding: .3125rem .3125rem;
		border-bottom: .03125rem solid #dcdcdc;
		font-size: .46875rem;
		background-color:#fff;
		.msgtext{
			width: 7.5rem;
			height: .9375rem;
			font-size: .46875rem;	
	   		border: none;
	   		// color: #D8B770;
		}
	}
	.countprice{
		height: 1.5625rem;
		line-height: .9375rem;
	    padding: .3125rem .3125rem;
		border-bottom: .15625rem solid #f1f1f1;
		font-size: .46875rem;
		text-align:right;
	}
	.usepoints{
		height: 1.5625rem;
		line-height: .9375rem;
	    padding: .3125rem .3125rem;
		border-bottom: .15625rem solid #f1f1f1;
		font-size: .46875rem;
		background-color:#fff;
		a{
	    	color: #000;
	    	font-size: .46875rem;
	    }
	    i{float:right}
	    span{
	    	float: right;
	    	font-size: .46875rem;

	    }
	}
}
.accounts{
	height: 1.5625rem;
    background-color: #fff;
    width: 100%;
    border-top: .03125rem solid #e1e1e1;
    z-index: 99;
    position:relative;
	overflow:hidden;
    
    
    
    .sumifo{
    	float: right;
    	height: 1.5625rem;
		line-height: 1.5625rem;
		font-size: .46875rem;
    	margin-right: .3125rem;
    	._totalprice{
    		color: #df3033;
    		font-weight: bold;
    	}
    }

	.gotobuy{
		height: 1.5625rem;
		line-height: 1.5625rem;
		text-align: center;
		width: 3.4375rem;
		float: right;
		background-color:#000;
	    .gotobuyBTN{
	    	font-size: .5rem;
	    	font-weight: bold;
	    	color: #fff;
	    }
	}
}

.dk-spinner-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #c6c6c6;
    opacity: .8;
    z-index: 2090;
    font-size: .5rem;
}
.paywaymain{
	width:100%;
    background-color:#fff;
    opacity: 1;
    z-index: 2490;
	position:absolute;
	top:6.25rem;
    text-align: center;
    border-radius: .3125rem;
    padding:.3125rem .625rem;
	div{

	}
	// left: 3.75rem;
	.paylist{
		margin:0 auto;
		height: 1.25rem;
		width: 4.6875rem;
		padding:0 .625rem;
    text-align: left;
    font-size: .5rem;
		span{
			margin-left: .15625rem;
			font-size: .5rem;
		}
		i{
			font-size: .8125rem;
		}
	}
	.dialog-control{
		input{
			margin-right: .46875rem;
			width: 1.40625rem;
			height: .9375rem;
			background-color:#121222;
			outline: none;
			color: #fff;
			border-radius:.15625rem;
			border: 0;
		}
	}
}



.pointmain{
	width:100%;
    background-color:#fff;
    opacity: 1;
    z-index: 2490;
	position:absolute;
	top:6.25rem;
    text-align: center;
    border-radius: .3125rem;
    padding:.3125rem .625rem;
	.pointarea{
		h3{
	    padding: .3125rem .3125rem;
	    border-bottom: .03125rem solid #e6e6e6;
	    text-align: center;
	    font-size: .5rem;
	    color: blue;
	    font-weight: bold;
	    font-family: "microsoft yahei",'Arial', 'Verdana','Helvetica', sans-serif;
	    }
	    .mypoint{
	    	text-align: left;
	    	font-size: .4375rem;
			margin:.3125rem .3125rem;
	    }
	    .thisuse{
	    	text-align: left;
	  		font-size: .4375rem;
			margin:.3125rem .3125rem;
	  		.usepointNum{
	  			
				border:0;

	  		}
		
	    }
	    .tips{
	    	text-align: left;
	    	font-size: .4375rem;
			margin:.3125rem .3125rem;
			color: #333;
			opacity: .8
	    }
	}
	.dialog-control2{
		input{
			margin-right: .46875rem;
			width: 1.40625rem;
			height: .9375rem;
			background-color:#121222;
			outline: none;
			color: #fff;
			border-radius:.15625rem;
			border: 0;
		}
	}
}
