@import '../../static/styles/common.scss';
@import '../../static/styles/iconfont/iconfont.css';

.Add_addressHeader{
	position: relative;
	height:1.5625rem;
	p{
		height:1.5625rem;
		font-size:.5rem;
		overflow: hidden;
		background-color: #D8B770;
		// background-color: $main_color;
		color: #fff;
		border-bottom: 0.03125rem solid #E8E8E8;
		text-align: center;
		line-height: 1.5625rem;
	
				.back{
			// float: left;
			height:1.5625rem;
			width: 1.5625rem;
			position: absolute;
			left: 0;
			text-decoration: none;
			i{
				height: 100%;
				line-height: 1.5625rem;
				font-size: .75rem;
				color: #fff;
			}
		}
		.homepage{
			// float: right;
			height: 1.5625rem;
			width: 1.5625rem;
			position: absolute;
			right: 0;
			text-decoration: none;
			i{
				height: 100%;
				line-height: 1.5625rem;
				font-size: .75rem;
				color: #fff;
			}
		}
	}
}
.Add_addressmain{
	ul{
		// background-color: #fff;
		li{
			background-color:#fff;
			height: 1.5625rem;
			line-height: 1.5625rem;
			padding:0 .46875rem;
			border-bottom: .03125rem solid #eee;
			font-size: .4375rem;
			input{
				border:0;
			}
		}
	}
	.addsubmit{
		margin: .3125rem;
		p{
		    width: 100%;
		    font-size: .5rem;
		    text-align: center;
		    padding: .34375rem .46875rem;
		    display: block;
		    background: none;
		    border: none;
		    color: #fff;
		    background-color:#000;
		    border-radius: .25rem;
		}
	}

}
