@import '../../static/styles/common.scss';
@import '../../static/styles/iconfont/iconfont.css';

.addressHeader{
	position: relative;
	height:1.5625rem;
	p{
		height:1.5625rem;
		font-size:.5rem;
		overflow: hidden;
		background-color: #D8B770;
		// background-color: $main_color;
		color: #fff;
		border-bottom: 0.03125rem solid #E8E8E8;
		text-align: center;
		line-height: 1.5625rem;
	
				.back{
			// float: left;
			height:1.5625rem;
			width: 1.5625rem;
			position: absolute;
			left: 0;
			text-decoration: none;
			i{
				height: 100%;
				line-height: 1.5625rem;
				font-size: .75rem;
				color: #fff;
			}
		}
		.homepage{
			// float: right;
			height: 1.5625rem;
			width: 1.5625rem;
			position: absolute;
			right: 0;
			text-decoration: none;
			i{
				height: 100%;
				line-height: 1.5625rem;
				font-size: .75rem;
				color: #fff;
			}
		}
	}
}
.addressmain{
	ul{
		padding-left: 0.3125rem;
		color: #666666;
		background-color: #fff;

		// 生成的数据
		div{
			padding: 0.15625rem;
		}
		p{
			height: 0.625rem;
			position: relative;
			>b{
				position: absolute;
				height: 0.625rem;
				top:0;
				right:10%;
				font-size: 12px;
				line-height: 0.625rem;
			}
			>.iconfont{
				position: absolute;
				top:0;
				right:0;
				// color
			}
		}
		li{
			height: 1.09375rem;
			padding-top: 0.15625rem;
			font-size: 14px;
			border-bottom:1px solid #eee;
		}
	}
	.addbtn{
		margin: .3125rem;
		.add_addressbtn{
		    width: 100%;
		    font-size: .5rem;
		    text-align: center;
		    padding: .34375rem .46875rem;
		    display: block;
		    background: none;
		    border: none;
		    color: #fff;
		    background-color:#000;
		    border-radius: .25rem;
		}
	}

}
