@import '../../static/styles/common.scss';

.cate_wrap{
	background-color: #fff;
}

header.cate_header{
	background-color: #EFEFEF;
	height:1.375rem;
	text-align: center;
	input{
		font-size: 0.5rem;
		border:none;
		height:0.90625rem;
		width:95%;
		margin-top: 0.1875rem;
		text-align: center;
		border-radius: .0625rem;
	}
}
nav.cate_nav{
	background-color:#fff;
	h2{
		display: inline-block;
		width:50%;
		text-align: center;
		span{
			height:1.5625rem;
			line-height: 1.5625rem;
			border-bottom:.09375rem solid #d8b86f;
			font-size: .5rem;
			display: inline-block;
			padding:0 0.25rem;
		}	
	}

}
ul.cate_classify{
	margin-top: .3125rem;
	padding: 0 .15625rem .15625rem .15625rem;
	-webkit-box-flex:1;
	-webkit-flex:1;
	    -ms-flex:1;
	        flex:1;
	overflow-x:hidden;
	li{
		width: 50%;
		float: left;
		padding:.15625rem;
		position: relative;
		img{
			width:100%;
			display: block;
		}
		.shade{
			width:calc(100% - .3125rem);
			height:calc(100% - .3125rem);
			background-color: #000;
			opacity: .4;
			position: absolute;
			top:.15625rem;
			left:.15625rem;
			z-index:5;
		}
		h2{
			color:#fff;
			font-size: .5rem;
			line-height: .5rem;
			padding:45% 0;
			text-align: center;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
			z-index: 10;
		}
	}
}