@import '../../static/styles/common.scss';

$backgroundColor: #fff;

.cate_wrap{
	background-color: $backgroundColor;
}

header.cate_header{
	background-color: #EFEFEF;
	height:1.375rem;
	text-align: center;
	input{
		font-size: 0.5rem;
		border:none;
		height:0.90625rem;
		width:95%;
		margin-top: 0.1875rem;
		text-align: center;
		border-radius: .0625rem;
	}
}
nav.cate_nav{
	background-color:$backgroundColor;
	h2{
		display: inline-block;
		width:50%;
		text-align: center;
		span{
			height:1.5625rem;
			line-height: 1.5625rem;
			border-bottom:.09375rem solid $backgroundColor;
			font-size: .5rem;
			display: inline-block;
			padding:0 0.5rem;
			&.active{
				border-bottom:.09375rem solid #d8b86f;
			}
		}	
	}

}
