@import '../../../static/styles/common.scss';

$height: 73px;
$borderColor: #E3E3E3;
$fontColor: #555;
ul.cate_brand{
	flex:1;
	overflow-x:hidden; 
	background-color: #ccc;
	li{
		display: flex;
		height: $height;
		border-bottom:1px solid $borderColor;
		background-color: #fff;
		&:nth-of-type(1){
			border-top:1px solid $borderColor;
		}
		&:last-child{
			border-bottom: none;
		}
		i{
			flex:50%;
			background: no-repeat center center;
			background-size: 90px 40px;
		}
		h3{
			flex:50%;
			color:$fontColor;
			line-height: $height;
			font-size: 14px;
			text-align: center;
		}
	}
}