@import '../../static/styles/common.scss';
@import '../../static/styles/base.scss';
body::-webkit-scrollbar{
	width:0;
	height:0;
}
.detailContainer{
	display: -webkit-flex;
	// 详情页的头部
	.detail_head{
		width: 100%;
		height:1.25rem;
		background: #fff;
		overflow: hidden;
		// 头部左边的图标
		.pic_left{
			float: left;
			width: 15%;
			height:1.25rem;
			text-align: center;
			line-height: 1.25rem;
			i{					
				color: #333;
				font-size:22px;
			}	
		}
		//头部的Tab标签的切换
		.detail_head_tab{
			float: left;
			height: 1.25rem;
			width: 70%;
			li{
				float: left;
				line-height: 1.25rem;
				font-size: 14px;
				padding: 0 6.2%;
			}
		}
		// 头部右边的图标
		.pic_right{
			float: right;
			width: 15%;
			height:1.25rem;
			text-align: center;
			line-height: 1.25rem;
			i{
				color: #6C6C6C;
				font-size:22px;
			}
		}
	}
	// 定位在底部的图片
	.detail_bottom{
		display: none;
		height: auto;
		width: 100%;
		background: #fff;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 10000;
		.bottom_info{
			padding-left: 0.3125rem;
			position: relative;
			height: 2.8125rem;
			width: 100%;
			top: -0.46875rem;
		}
		.bottom_info{
			.info_left{
				width: 2.5rem;
				height: 2.5rem;
				background: #fff;
				border-radius: 0.15625rem;
				>img{
					height: 100%;
					width: 100%;
				}
			}
			.info_right{
			    position: absolute;
			    left: 3.4375rem;
			    top: 0.625rem;
			    .pri{
			    	color:$main_color;
				    font-size: 14px;
				    line-height: 0.625rem;
				    height: 0.625rem;
				    overflow: hidden;
			    }
			    .mesg{
		    	    color: #999;
				    font-size: 12px;
				    line-height: 0.625rem;
				    height: 0.625rem;
			    }
			    .option{
		    	    color: #999;
					font-size: 12px;
					line-height: 0.625rem;
					height: 0.625rem;
					overflow: hidden;
			    }
			}
			.bottom_infoclose{
				position: absolute;
				right: 0.3125rem;
				top: 0.5125rem;
				font-size: 20px;
				color: #666;
				font-weight: normal;
			}   
		}
		.bottom_other{
		    position: relative;
		    height: auto;
		    margin-bottom: 0.3125rem;
		    padding-left: 1%;
		    width: 99%;
		    overflow-y: scroll;
		    overflow-x: hidden;
		    margin-top: -0.46875rem;
		    font-size: 14px;
		    color: #999;
		    .number{
		    	float: left;
				width: 100%;
				padding-top: 0.3125rem;
				height: 2rem;
				.label{
					float: left;
				    width: 3.125rem;
				    padding-top: 0.15625rem;
				}
				.num{
					border: 1px solid #dedede;
				    width: 3.5rem;
				    height:1.0625rem;
				    float: right;
				    margin-right: 0.3125rem;
				    #btn_reduce,#btn_add{
			    	    width: 1.09375rem;
			    	    border: none;
			    	    float: left;
			    	    color: #333;
						height: 1.0625rem;
						background: #eee;
				    }
				    #bottom_total{
			    	    width: 1.25rem;
			    	    display: block;
						text-align: center;
						border: 0.03125rem solid #eee;
						height: 1.0625rem;
						line-height: 1rem;
						float: left;
				    }
				}				
		    }
		}
		.bottom_confim{
			width: 100%;
		    background:$main_color;
		    line-height: 40px;
		    text-align: center;
		    font-size: 18px;
		    color: #fff;
		}
	}
	// 详情页的内容
	.detail_cont{
		flex:1;
		background:#EEEEEE;
		overflow-y:auto;
		// 轮播图的图片大小
		.swiper-container {
			height:10.0rem;
			// height: 10.0rem;
			width: 100%;
			img{
				height: 100%;
				width: 100%;
			}
			.swiper-pagination{
				.swiper-pagination-bullet-active{
					background:$main_color;
					opacity: 1;
				}

			}
			.swiper-slide img{
			   width: 100%;
			} 
		}
		// 商品信息
		.good_info{
			height: auto;
			width: 100%;
			background: #fff;
			padding: 0  3%;
			.good_title{
				border-bottom: 0.03125rem solid #e2e2e2;
				height: 1.625rem;
				width: 100%;
			    border-bottom: 0.03125rem dashed #f3f3f3;
			    padding:0.24375rem 0;
			    color:#555;
			    h1{
			    	font-size: 16px;
			    	line-height: 1.23rem;
			    	font-family: '微软雅黑' !important;
			    }
			}
		}
		.good_price{
				position:relative; 
				width: 100%;
			    background: #fff;
			    padding: 0 3%;
			    line-height: 1.05rem;
			    // 价格
			    .money{
			    	font-size: 14px;
			    }
				#marketpric{
					font-size: 0.5625rem;
					line-height: 1.25rem;
					color: #323232;
					font-size: 20px;
				}
				// 市场价
				.productprice{
					display: block;
					font-size: 0.4375rem;
					color: #c0c0c0;
				}
				// 库存和销量
				.stockSal,.salesNum{
					position: absolute;
					font-size:0.375rem;
					bottom: 0;
					right: 20%;
					color: #c0c0c0;
				}
				.sale_num{
					position: absolute;
					font-size:0.375rem;
					bottom: 0;
					right: 4%;
					color: #c0c0c0;
				}
			}
		.good_choose{
			height: 1.375rem;
			width: 100%;
			padding: 0.0rem 3%;
			overflow: hidden;
			background: #fff;
			margin-top: 0.4375rem;
			border-bottom: 0.03125rem solid #e2e2e2;
			line-height: 1.375rem;
			color: #666;
			font-size: 14px;
			.jiantou{
				float:right;
				line-height:1.25rem;
				font-size: 18px;
			}
		}
		.good_tab{
			height: 3.125rem;
			width: 100%;
			margin-top: 0.3125rem;
			background: #fff;
			text-align: center;
			padding-top: 0.5625rem;
			ul{
				height: 3.125rem;
				display: -webkit-flex;
				li{
					flex:1;
					&>i{
						font-size: 38px;
						color: #D8B86F;
					}
					&>p{
						font-size: 14px;
						margin-top: 0.15625rem;
						font-family: '微软雅黑' !important;
						color: #333333;
					}
				}
			}
		}
		.detail_parameter{
			height: 18.75rem;
			background: #fff;
			margin-top: 10px;
			.parameter{
				width: 90%;
				height: 1.5625rem;
				margin:0 5%;
				border-bottom:0.03125rem solid #DCDCDC;			&>p{
					font-style: 14px;
					line-height: 1.5625rem;
				}
			}
		}
	}

	// 详情页的脚
	.detail_foot{
		height: 1.25rem;
		width: 100%;
		background: #fff;
		overflow: hidden;
		// 收藏
		.like{
			height: 1.25rem;
			width: 20%;
			background: #fdfdfd;
			float: left;
		    text-align: center;
   			color: #666;
		    border-right: 0.03125rem solid #e1e1e1;
		    margin-top: 2px;
    		>.iconfont {
    			display: block;
    			font-size: 16px;
    			margin-top: 2px;
    		}
    		>span{
    			font-size: 12px;
    		}
		}
		//购物车
		.detail_cart{
		    height: 1.25rem;
			width: 20%;
			background: #fdfdfd;
			float: left;
		    text-align: center;
   			color: #666;
   			margin-top: 2px;
		    >.iconfont {
    			font-size: 16px;
    			display: block;
    			margin-top: 2px;
    		}
    		>span{
    			font-size: 12px;
    		}
		}
		.addCart{
		    height: 1.25rem;
		    width: 30%;
		    background:#EEEEEE;
		    float: left;
		    font-size: 14px;
		    line-height: 1.25rem;
		    text-align: center;
		    // color: #fff;   
		}
		.detail_buy{
			height: 1.25rem;
		    width: 30%;
		    background:#1B1B1B;
		    float: right;
		    font-size: 14px;
		    line-height: 1.25rem;
		    text-align: center;
		    color: #fff;
		}
	}
}